---
import Image from '../components/CloudImage.astro';
import SpookyLink from '../components/SpookyLink.astro';

interface Props {
	movie: object;
}

const { movie } = Astro.props;
const linkAttrs = {
  'data-card': '',
  'aria-hidden': 'true',
  rel: 'noopener noreferrer',
};

const ratingMap = {
  1: '🔪',
  2: '🔪🔪',
  3: '🔪🔪🔪',
  4: '🔪🔪🔪🔪',
  5: '🔪🔪🔪🔪🔪',
};
---

<li class="movie-card @container rounded bg-highlight text-secondary p-xs" data-card>
  <div class="flex flex-col h-full @[400px]:grid @[400px]:grid-cols-2 gap-s lg:@[400px]:h-full">
    { movie.movieImage && (
      <Image
      url={movie.movieImage[0].url}
      width="600"
      height="600"
      zoomable={false}
      effects='e_grayscale/e_brightness:15/e_contrast:level_-30/e_tint:100:140C10:E2703A/'
      containerClasses="poster aspect-square"
      imgClasses="object-cover h-full"
      />
    )}
    <div class="text-container grow flex flex-col justify-between gap-2">
      <div>
        <h2 class="text-lg leading-none">
          <span class="sr-only title">{ movie.title }</span>
          <SpookyLink href={ movie.externalLink } text={ movie.title } attributes={ linkAttrs } />
        </h2>
        <div class="text-base year">{ movie.year }</div>
        <div class="text-base rating">{ ratingMap[movie.rating] }</div>
      </div>
      { movie.yearsWatched.length > 0 && (
        <div class="text-xs italic tracking-tight">
          watched in 
          { movie.yearsWatched.map((year, index) => (
            <span>{ index !== movie.yearsWatched.length && index !== 0 && ', '}</span>
            <span>
              { year.status === 'live' && <a href={year.slug} class="underline-offset-2 hover:underline focus-visible:underline">{year.title}</a> }
              { year.status === 'disabled' && <span>{year.title}</span> }
            </span>
          ))}
        </div>
      )}
    </div>
  </div>
</li>
<style>
  .movie-card.list-view {
    border-radius: 0;
    container-type: inline-size;
    background-color: transparent;

    > div {
      display: flex;
      flex-direction: row;
      gap: theme('spacing.s');
    }

    + .movie-card.list-view {
      border-top: 1px solid theme('colors.secondary');
    }

    .text-container {
      width: 100%;

      > div {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        
        @container (min-width: 700px) {
          flex: 1 1 auto;
          flex-direction: row;
          gap: theme('spacing.xs');

          h2 {
            flex: 0 1 80%;
            font-size: theme('fontSize.lg');
          }

          .year,
          .rating {
            flex: 1 0 4em;
            text-align: right;
            white-space: nowrap;
          }
        }
      }
    }
  }
</style>